.payments {
  height: 100%;
  color: black;
}
.payment {
  margin: 5px 5px 5px 5px;
  background-color: white;
}
.payment_container > h1 {
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.payment_container {
  height: 88vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
}
.payment_section {
  display: flex;
  margin: 15px 15px 15px 15px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5rem;
}
.payment_title {
  flex: 0.2;
}
.payment_details {
  flex: 0.8;
}
.payment_items {
  flex: 0.8;
  background-color: white;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 2px rgb(0 0 0/0.4));
}
.payment_address {
  flex: 0.8;
}
.payment_price_container > button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ff9900;
  filter: drop-shadow(1px 1px 2px rgb(0 0 0/0.4));
}
.payment_price_container > button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
